/* BANNER */

main {
  margin: 20px 40px;
}

.banner {
  background-color: #f56500;
  border-radius: 4px;
}

.banner h2 {
  text-align: center;
  font-size: 18px;
  padding: 10px 0;
  color: white;
  text-transform: capitalize;
}
